ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1440px;
  background-color: rgba(19, 19, 19, 1);
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
}
.menu {
  margin-left: 626px;
  padding-top: 107px;
  margin-right: 109px;
  margin-bottom: 52px;
  color: rgba(255, 255, 255, 0.3);
  font-family: Yeseva One;
  width: 400;
  font-size: 14px;
  line-height: 19.4px;
  text-align: center;
  text-transform: uppercase;
}
.cities {
  display: flex;
  justify-content: space-between;
}
.textwithpict {
  display: flex;
}
.title {
  margin-left: 134px;
  display: flex;
  flex-direction: column;
}
.picture {
  margin-left: 50px;
  display: flex;
  margin-right: 134px;
  margin-bottom: 125px;
}
.txt {
  width: 442px;
}
.txt-title {
  color: rgba(227, 184, 115, 1);
  font-family: Yeseva One;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 120%;
  text-align: Left;
  width: 253px;
  margin-top: 0;
  margin-bottom: 34px;
}
.text {
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 26.73px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.description_list {
  margin-left: 134px;
}
.description_title-top {
  color: rgba(227, 184, 115, 1);
  text-transform: uppercase;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 120%;
  text-align: Left;
}
.description_title-bot {
  color: rgba(227, 184, 115, 1);
  text-transform: uppercase;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 120%;
  text-align: Left;
}
.description_line {
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 21.28px;
  line-height: 120%;
}
.description_list {
}
.slider-nav__item {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.slider-nav > img {
  cursor: pointer;
}
.slider-nav {
  margin-top: 81px;
  width: 202px;
  display: flex;
  justify-content: space-between;
}
.slider-nav__item-active {
  background-color: rgba(255, 255, 255, 1);
}
.slider-nav__top-item {
  cursor: pointer;
}
.slider-nav__top-item-active {
  text-decoration: underline;
  color: rgba(227, 184, 115, 1);
}
.description {
  display: flex;
  flex-wrap: wrap;
}
.description-col {
  width: 50%;
}
